<%- include('layout/header')-%>
    <div class="container p-4 text-right">
        <a href="/admin/upload" class="btn btn-primary">Agregar Imagen</a>
    </div>
    <div class="container">
        <h1>Galería</h1>
        <p class="lead">
            Galería de Imagenes para el sitio web
        </p>
    </div>

    <%- include('layout/image-gallery') %>

        <%- include('layout/footer')-%>