<%- include('layout/header')-%>
    <div class="container p-4 text-right">
        Options Panel
    </div>
    <div class="container">
        <div id="welcome">
            <h1>Bienvenido</h1>
            <p class="lead">
                Bienvenido al panel de control para el sitio web de Deltom S.A.
            </p>
        </div>
    </div>

    <%- include('layout/footer')-%>