<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="card-columns">
            <% if(typeof images !== 'undefined') {%>
                <% images.forEach(image => { %>

                    <div class="card card-pin">
                        <img class="card-img-top" src="/images/<%= image.filename %>" alt="Image">
                        <div class="card-body">
                            <p class="card-text float-left">
                                <%= image.description.length < 1 ? image.filename : image.description %>
                            </p>
                            <a href="/admin/images/delete/<%= image._id %>" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                    </div>

                    <% }); 
            }
        %>
        </div>
    </div>
</div>